<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


    <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :firstname %><br />
      <%= f.text_field :firstname, :autofocus => true %></div>

    <div><%= f.label :lastname %><br />
      <%= f.text_field :lastname %></div>

    <div><%= f.label :school %><br />
      <%= f.text_field :school, :autofocus => true %></div>

    <div><%= f.label :studentid %><br />
      <%= f.text_field :studentid %></div>


    <div><%= f.label :clubs %><br />
      <%= f.text_field :clubs %></div>


    <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>


