<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :finish_time %><br>
    <%= f.time_select :finish_time %>
  </div>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br>
    <%= f.text_field :event_type %>
  </div>
  <div class="field">
    <%= f.label :event_url %><br>
    <%= f.text_field :event_url %>
  </div>
  <div class="field">
    <%= f.label :max_num_tickets %><br>
    <%= f.number_field :max_num_tickets %>
  </div>
  <div class="field">
    <%= f.label :ticket_price %><br>
    <%= f.text_field :ticket_price %>
  </div>
  <div class="field">
    <%= f.label :ticket_start_date_time %><br>
    <%= f.datetime_select :ticket_start_date_time %>
  </div>
  <div class="field">
    <%= f.label :ticket_end_date_time %><br>
    <%= f.datetime_select :ticket_end_date_time %>
  </div>
  <div class="field">
    <%= f.label :ticket_purchase_pickup_information %><br>
    <%= f.text_area :ticket_purchase_pickup_information %>
  </div>
    <div class="field">
      <%= f.label "Share with other societies" %> <br>
      <%= link_to 'share with societies', events_share_with_societies_path %> <br>
      <%= society_names = display_society_names_from_id(params[:societies]) %>
      <%if !params[:societies].nil? %>
        <% societies_ids_string = integer_array_into_string(params[:societies]) %>
        <%= f.hidden_field :societies_shared_with, value: societies_ids_string %>
      <%end%>
    </div>
    <%#= params.inspect %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
