<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @event.finish_time %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Event url:</strong>
  <%= @event.event_url %>
</p>

<p>
  <strong>Image urls:</strong>
  <%= @event.image_urls %>
</p>

<p>
  <strong>Max num tickets:</strong>
  <%= @event.max_num_tickets %>
</p>

<p>
  <strong>Ticket price:</strong>
  <%= @event.ticket_price %>
</p>

<p>
  <strong>Ticket start date time:</strong>
  <%= @event.ticket_start_date_time %>
</p>

<p>
  <strong>Ticket end date time:</strong>
  <%= @event.ticket_end_date_time %>
</p>

<p>
  <strong>Ticket purchase pickup information:</strong>
  <%= @event.ticket_purchase_pickup_information %>
</p>

<p>
  <strong>Societies shared with:</strong>
  <%= @event.societies_shared_with %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
-->
