
<p id="notice"><%= notice %></p>

<p>
  <strong>Society name:</strong>
  <%= @society.society_name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @society.registration_number %>
</p>

<p>
  <strong>Club website:</strong>
  <%= @society.club_website %>
</p>

<p>
  <strong>Club nickname:</strong>
  <%= @society.club_nickname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @society.password %>
</p>

<p>
  <strong>President name:</strong>
  <%= @society.president_name %>
</p>

<p>
  <strong>President phone number:</strong>
  <%= @society.president_phone_number %>
</p>

<p>
  <strong>President email:</strong>
  <%= @society.president_email %>
</p>

<p>
  <strong>Treasurer name:</strong>
  <%= @society.treasurer_name %>
</p>

<p>
  <strong>Treasurer phone number:</strong>
  <%= @society.treasurer_phone_number %>
</p>

<p>
  <strong>Treasurer email:</strong>
  <%= @society.treasurer_email %>
</p>

<p>
  <strong>Club biz administrator name:</strong>
  <%= @society.club_biz_administrator_name %>
</p>

<p>
  <strong>Club biz administrator phone number:</strong>
  <%= @society.club_biz_administrator_phone_number %>
</p>

<p>
  <strong>Club biz administrator email:</strong>
  <%= @society.club_biz_administrator_email %>
</p>

<%#= link_to 'Edit', edit_society_path(@society) %>
<%#= link_to 'Back', societies_path %>

