<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Club Biz</title>
  <meta name="Jack" content="Layout">

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <style>

  </style>
  <%= javascript_include_tag :defaults %>
  <!-- <%= stylesheet_link_tag "application" %> -->
  <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" />
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=" http://localhost:3000/startuppage"><%= image_tag("Head_logo2.png", class:"header_logo", :alt => "Head Logo") %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="javascript:void(0)">Events</a></li>
      <li><a href="http://localhost:3000/search/list">Societies</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)">Action</a></li>
          <li><a href="javascript:void(0)">Another action</a></li>
          <li><a href="javascript:void(0)">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)">Separated link</a></li>
        </ul>
      </li>
    </ul>
    
    <%= form_tag search_index_path, method: :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in?
           @name = current_student.firstname + " " + current_student.lastname
        else
           @name = "Guest"
        end
      %>
      <li><a href="javascript:void(0)">Welcome <%=@name%></a></li>
      <li class="dropdown">
        <% unless signed_in?%>
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
          <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <!-- Login form here -->
            <!-- <form action="/students/sign_in" method="post" accept-charset="UTF-8">
               <input id="user_username" style="margin-bottom: 15px;" type="text" name="user[username]" size="30" placeholder="Username"/>
               <input id="user_password" style="margin-bottom: 15px;" type="password" name="user[password]" size="30" placeholder="Password"/>
               <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
               <label class="string optional" for="user_remember_me"> Remember me</label>
            </form>-->

            <a href="/students/sign_in" ><input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="" name="commit" value="Sign In" /> </a>
            <br/>
            <br/>
            <a class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" href="http://localhost:3000/students/sign_up"  >Register Student </a>
            <br/>
            <br/>
            <a class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" href="http://localhost:3000/societies/new"  >Register Society </a>
            <br/>
            <br/>

          </div>
          <%else%>
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign Out <strong class="caret"></strong></a>
          <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <a href=<%=destroy_student_session_path%> ><input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign out" /> </a>
            <br/>
            <br/>
          </div>
          <%end%>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<%= yield %>

</body>
</html>
