<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Club Biz</title>
  <meta name="Jack" content="Layout">

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <style>

  </style>
  <!-- <%= stylesheet_link_tag "application" %> -->
  <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" />
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=" http://localhost:3000/startuppage"><%= image_tag("Head_logo2.png", class:"header_logo", :alt => "Head Logo") %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="javascript:void(0)">Events</a></li>
      <li><a href="javascript:void(0)">Societies</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)">Action</a></li>
          <li><a href="javascript:void(0)">Another action</a></li>
          <li><a href="javascript:void(0)">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)">Separated link</a></li>
        </ul>
      </li>
    </ul>


    <%= form_tag search_index_path, method: :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>


    <% if signed_in? %>
        Signed in as <%=current_student.firstname%>. If this is not you?
        <%=link_to "Sign out", destroy_student_session_path,:method => :delete%>
    <%else%>

    <%end%>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="javascript:void(0)">Welcome Guest</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In or Register <strong class="caret"></strong></a>
        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
          <!-- Login form here -->

          <a class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" href="http://localhost:3000/students/sign_in"  >Sign In </a>
          <br>

          <br>
         <a class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" href="http://localhost:3000/students/sign_up"  >Register Student </a>
          <br>
          <br>
          <a class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" href="http://localhost:3000/societies/new"  >Register Society </a>
          <br>

        </div>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<%= yield %>

</body>
</html>
